/* Base Application Styles */
body {
  background: #e9e9e9;
  font-family: sans-serif;
  .content {
    .contact {
      color: grey;
      text-decoration: underline;
      margin: 6% 0 2% 3%;
    }
  }
  .heading {
    margin-left: 45%;
    .title {
      display: inline-block;
      margin-top: 25px;
      .circle {
        width:20px;
        height:20px;
        border: 2px solid #5F9F9F;
        border-radius:250px;
      }
      p {
        text-transform: uppercase;
        font-weight: bold;
        margin: 0 0 0 30px;
        font-size: 20px;
      }
    }
    .subtitle {
      margin: 0 0 100px 0;
      text-align: left;
    }
  }
}


@media only screen
  and(min-width: 320px)
  and(max-width: 480px) {
  body {
    .heading {
      margin-left: 20%;
    }
  }
}

@media only screeen
  and(min-wdith: 768px)
  and(max-width: 1024px) {
  body {
    .heading {
      margin-left: 25%;
    }
  }
}

@media only screen
  and(min-width: 800px)
  and(max-width: 1280px) {
    body {
    .heading {
      margin-left: 40%;
    }
  }
}

@media only screen
  and(min-width: 900px)
  and(max-width: 1440px) {
    body {
    .heading {
      margin-left: 43%;
    }
  }
}


/*@media (min-width: $screen-sm-min) {
  .Body {
    width: calc($screen-sm-min - 18px);
  }
}

@media (min-width: $screen-md-min) {
  .Body {
    width: calc($screen-md-min - 22px);
  }
}

@media (min-width: $screen-lg-min) {
  .Body {
    width: calc($screen-lg-min - 30px);
  }
  }*/

